.container{
    color: rgba(000, 000, 000, 0.87);
    margin: 0px;
}

.body{
    display: flex;
    flex-flow: row nowrap;
}

.button{
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    align-items: center;
    font-size: medium;
}
.header{
    display: flex;
    height: 6.66vh;
    background-color: pink;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.left{
    height: 86.66vh;
    flex-grow: 1;
    background-color: red;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86.66vh;
    width: 960px;
    background-color: green;
}

.right{
    height: 86.66vh;
    flex-grow: 1;
    background-color: blue;
}

.footer{
    display: flex;
    height: 6.66vh;
    background-color: grey;
    justify-content: center;
    align-items: center;
    font-size: small;
}